<!-- Sección de Bienvenida -->
<section id="bienvenida">
  <h1>Bienvenido a mi Portfolio</h1>
  <p>Hola, soy gonagb</p>
</section>

<!-- Sección Sobre Mí -->
<section id="sobre-mi">
  <h2>Sobre Mí</h2>
  <p>Una breve introducción sobre ti y tu trayectoria profesional. Habla sobre tu pasión por el desarrollo, tus estudios y cualquier otra información relevante que te gustaría compartir.</p>
</section>

<!-- Sección de Proyectos -->
<section id="proyectos">
  <h2>Proyectos</h2>
  <div>
    <!-- Detalles del Proyecto -->
    <div>
      <h3>Nombre del Proyecto 1</h3>
      <p>Descripción breve del proyecto. Qué problemas resuelve, tecnologías utilizadas, etc.</p>
    </div>
    <!-- Más proyectos según sea necesario -->
  </div>
</section>

<!-- Sección de Habilidades -->
<section id="habilidades">
  <h2>Habilidades</h2>
  <ul>
    <li>HTML/CSS</li>
    <li>JavaScript</li>
    <li>Angular</li>
    <!-- Agrega más habilidades según sea necesario -->
  </ul>
</section>

<!-- Sección de Contacto -->
<section id="contacto">
  <h2>Contacto</h2>
  <p>Si te interesa trabajar conmigo o quieres saber más, no dudes en contactarme.</p>
  <p>Email: tuemailexample.com</p>
  <!-- Agrega otros métodos de contacto según sea necesario -->
</section>
