     html,body{
            width: 100%;
            height: 100vh;
            padding: 0px;
            margin: 0px;
        }
        table{
            width: 100%;
            height: 80vh;
            border: 0;
        }
      

        #bold{font-weight: bold;width: 20px;height: 20px;}
        #italic{font-style: italic;width: 20px;height: 20px;}
        #underline{text-decoration: underline;width: 20px;height: 20px;}


        #fondopagina{
            background: grey;
        }
        #pagina{
            background: white;
            width: 800px;
            height: 1200px;
            margin: auto;
            padding: 20px;
            position: relative;
            top: 70px;
            box-shadow: 0 20px 30px black;
            outline: none;
        }
        
        #menu,#herramientas,#documentnamebar{
            position: fixed;
            top: 0px;
            width: 100%; 
            height: 20px;
            background: white;
            z-index: 1000;
        }
        #herramientas{
            position: fixed;
            top: 40px;
            height: 50px;
        }
        #documentnamebar{
            position: fixed;
            top: 20px;
            height: 50px;
        }
        #fontcolor{border-radius: 5px;}


